<nav class="nav">
    <a href="/students" class="brand">Student Directory</a>
    <div class="spacer"></div>
    <a href="/students">All Students</a>
    <a href="/students/new" class="btn">+ New</a>
</nav>